<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lyloou.flow">

    <uses-permission android:name="permissions.dispatcher.processor.PermissionsProcessor" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <dist:module dist:instant="true" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity
            android:name=".ui.home.TodoListActivity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".ui.city.CitySelectorActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.setting.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.home.TodoActivity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.detail.DetailActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBar" />
        <activity android:name=".temp.TempActivity" />
        <activity android:name=".ui.kalendar.KalendarActivity" />
        <activity
            android:name=".ui.web.NormalWebViewActivity"
            android:theme="@style/NoActionBar" />
    </application>

</manifest>